In [ ]:
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [246]:
%%time
all_adult = pd.read_csv("adult.csv")
filter_tab = all_adult["?" == all_adult["native-country" and "workclass"]]
for column in all_adult.columns.tolist():
    all_adult.drop(all_adult[all_adult[column] == "?"].index, inplace = True)
all_adult

CPU times: total: 78.1 ms
Wall time: 63.1 ms

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 1
Print the count of men and women in the dataset.

In [ ]:
all_adult["sex"].value_counts()

# Task 2
Find the average age of men in dataset

In [ ]:
all_adult.groupby("sex")["age"].mean()

# Task 3
Get the percentage of people from Poland (native-country)

In [ ]:
all_adult[all_adult["native-country"] == "Poland"].describe()

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [256]:
all_adult[(all_adult["age"]) & (all_adult["salary"] == ">50K")].mean()

C:\Users\Igor\AppData\Local\Temp\ipykernel_8872\1662288926.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  all_adult[(all_adult["age"]) & (all_adult["salary"] == ">50K")].mean()

Unnamed: 0        16193.685585
age                  44.120171
hours-per-week       45.733280
salary K$           199.888622
dtype: float64

In [257]:
all_adult[(all_adult["age"]) & (all_adult["salary"] == "<=50K")].median()

C:\Users\Igor\AppData\Local\Temp\ipykernel_8872\154985454.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  all_adult[(all_adult["age"]) & (all_adult["salary"] == "<=50K")].median()

Unnamed: 0        16272.0
age                  35.0
hours-per-week       40.0
salary K$            32.0
dtype: float64

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [296]:
all_adult[~(all_adult.education.str.match("Bachelors|Prof-school|Assoc-acdm|Assoc-voc|Masters|Doctorate")) & (all_adult["salary"] == ">50K")]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
67,67,53,Private,HS-grad,Married-civ-spouse,Adm-clerical,Wife,White,Female,40,United-States,>50K,225
68,68,49,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32462,32462,48,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,>50K,343
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [305]:
all_adult.groupby(["age", "education"]).describe()

                 Unnamed: 0                                                \
                      count          mean           std     min       25%
age education
17  10th              106.0  17480.990566   8637.003666   609.0  11099.25
    11th              154.0  16706.259740   9615.122123   209.0   8638.00
    12th               32.0  16342.718750   9087.301307   676.0   9914.25
    5th-6th             1.0    335.000000           NaN   335.0    335.00
    7th-8th             3.0  18738.333333   9463.059988  9971.0  13722.50
...                     ...           ...           ...     ...       ...
90  Bachelors           7.0  12237.285714   7118.816562  1935.0   7602.50
    HS-grad            11.0  17518.363636  11082.227540   222.0  11028.50
    Masters             4.0  12554.500000   8306.948477  5370.0   5397.00
    Prof-school         1.0   8806.000000           NaN  8806.0   8806.00
    Some-college        5.0   7944.000000   7027.123700  2303.0   2891.00

                                             hours-per-week             ...  \
                      50%       75%      max          count       mean  ...
age education                                                           ...
17  10th          18608.0  24613.25  32447.0          106.0  19.896226  ...
    11th          16841.5  25127.50  32282.0          154.0  19.448052  ...
    12th          16479.5  24077.50  31864.0           32.0  18.500000  ...
    5th-6th         335.0    335.00    335.0            1.0  48.000000  ...
    7th-8th       17474.0  23122.00  28770.0            3.0  31.000000  ...
...                   ...       ...      ...            ...        ...  ...
90  Bachelors     11996.0  17152.50  22220.0            7.0  36.428571  ...
    HS-grad       18725.0  26253.00  32277.0           11.0  40.000000  ...
    Masters       12119.0  19276.50  20610.0            4.0  47.500000  ...
    Prof-school    8806.0   8806.00   8806.0            1.0  72.000000  ...
    Some-college   5104.0  10210.00  19212.0            5.0  37.400000  ...

                             salary K$                                         \
                   75%   max     count        mean         std    min     25%
age education
17  10th          25.0  40.0     106.0   31.349057    9.442601   15.0   24.00
    11th          21.5  45.0     154.0   32.655844    9.578967   15.0   25.00
    12th          20.0  40.0      32.0   32.500000    9.425429   17.0   25.00
    5th-6th       48.0  48.0       1.0   47.000000         NaN   47.0   47.00
    7th-8th       42.5  45.0       3.0   35.000000   14.798649   18.0   30.00
...                ...   ...       ...         ...         ...    ...     ...
90  Bachelors     47.5  55.0       7.0  107.714286  132.360259   20.0   25.00
    HS-grad       40.0  99.0      11.0   40.545455   31.094577   17.0   23.00
    Masters       52.5  60.0       4.0  201.250000  131.154807   44.0  121.25
    Prof-school   72.0  72.0       1.0  141.000000         NaN  141.0  141.00
    Some-college  40.0  40.0       5.0   24.400000    9.889388   17.0   17.00


                    50%     75%    max
age education
17  10th           31.0   38.75   49.0
    11th           31.0   40.00   49.0
    12th           31.5   41.00   49.0
    5th-6th        47.0   47.00   47.0
    7th-8th        42.0   43.50   45.0
...                 ...     ...    ...
90  Bachelors      40.0  168.00  308.0
    HS-grad        37.0   42.00  129.0
    Masters       213.0  293.00  335.0
    Prof-school   141.0  141.00  141.0
    Some-college   22.0   25.00   41.0

[930 rows x 24 columns]

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [347]:
sort_married = all_adult[(all_adult["marital-status"].str.startswith("Married")) & (all_adult.salary.str.match(">50K|<=50K"))]
sort_married.groupby(sort_married.salary).describe()

       Unnamed: 0                                                              \
            count          mean          std  min      25%      50%       75%
salary
<=50K      8016.0  16287.127745  9383.003601  1.0  8145.00  16190.5  24448.00
>50K       6440.0  16368.996273  9457.948308  7.0  8192.25  16472.0  24513.75

                    age             ... hours-per-week       salary K$  \
            max   count       mean  ...            75%   max     count
salary                              ...
<=50K   32556.0  8016.0  41.536302  ...           45.0  99.0    8016.0
>50K    32560.0  6440.0  44.125000  ...           50.0  99.0    6440.0


              mean        std   min    25%    50%    75%    max
salary
<=50K    31.991392  10.088606  15.0   23.0   32.0   41.0   49.0
>50K    201.157609  87.191477  51.0  124.0  202.0  277.0  349.0

[2 rows x 32 columns]

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [492]:
all_adult.groupby(all_adult.workclass).max()

,Unnamed: 0,age,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
workclass,,,,,,,,,,,,
Federal-gov,32515,90,Some-college,Widowed,Transport-moving,Wife,White,Male,99,Vietnam,>50K,348
Local-gov,32545,90,Some-college,Widowed,Transport-moving,Wife,White,Male,99,Yugoslavia,>50K,349
Private,32559,90,Some-college,Widowed,Transport-moving,Wife,White,Male,99,Yugoslavia,>50K,349
Self-emp-inc,32560,84,Some-college,Widowed,Transport-moving,Wife,White,Male,99,Yugoslavia,>50K,349
Self-emp-not-inc,32550,90,Some-college,Widowed,Transport-moving,Wife,White,Male,99,Yugoslavia,>50K,349
State-gov,32549,81,Some-college,Widowed,Transport-moving,Wife,White,Male,99,Vietnam,>50K,349
Without-pay,32262,72,Some-college,Widowed,Transport-moving,Wife,White,Male,65,United-States,<=50K,49

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [493]:
all_adult.corr()

C:\Users\Igor\AppData\Local\Temp\ipykernel_8872\2381140224.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  all_adult.corr()

                Unnamed: 0       age  hours-per-week  salary K$
Unnamed: 0        1.000000 -0.001126       -0.001890   0.000129
age              -0.001126  1.000000        0.101599   0.208203
hours-per-week   -0.001890  0.101599        1.000000   0.196378
salary K$         0.000129  0.208203        0.196378   1.000000